body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 5.625rem ;
    margin: 50px auto o auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    color: #66BFBF;
    font-weight: normal;


} 
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color:lightblue;
    position: relative;
    padding-top: 100px;

}
.middle-container {
   
}
.skill-row{
    width: 50%; 
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.gif{
    width: 25%; 
    float: left;
    margin: 30px;
}
.sticker{
     width: 25%; 
    float: right;
    margin:20px;
}

    
.btn{
    color: #11999E;
}
.bottom-container {
    color: #11999E;  
}
.footer-link{
    color: #11999E;
}
   
.pro{
    text-decoration: underline;
    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom:300px;
     
} 